@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');

/*//////////////////////////////////*/
/************ CommonPage  *************/
/*//////////////////////////////////*/

body {
    margin: 5%;
    max-width: 70%;
    margin: auto;
}

main {
    max-width: 90%;
    margin-left: 3%;
}


/********** Main Logo************/
.logo {
    padding: 50px;
    text-align: center;
    background: linear-gradient(to bottom, #051937 0%, #12B0A8 100% );
    color: white;
    font-size: 30px;
}

/************ Nav  *************/
nav {
    margin-top: 3%;
}

a.nav-link {
    font-size: 26px;
    color: black;
}


a.nav-link:hover {
    background-color: #4b89e6;
    color: white;
    font-size: 28px;
} 



/************ Text  *************/

body {
    font-family: 'David Libre', serif;
}

h1 {
    margin-top: 3%;
}
p {
    font-size: 24px;
    font-weight: 500;
}

.title-header, .text-header {
    font-family: 'Fira Sans', sans-serif;
    font-size: 45px;
    
}

/************ Footer  *************/

footer{
    margin-top: 12%;
}

.container-footer {
    background: linear-gradient(to bottom, #12B0A8 0%,#051937 100% );
    padding: 15px;
    text-align: center;
    color: white;
}

.footer-bar {
    margin-top: 2%;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

/************ Table  *************/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-top: 5%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }



/************ Form  *************/

.form {
    margin-left: 3%;
    margin-top: 7%;
}
.form-container{
    margin-top: 7%;
}

legend{
    font-size: 26px;
    font-weight: bold;
}

label span {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-bottom: 1%;
    margin-top: 3%;

}

input {
    font-size: 20px;
    display: block;
    padding: .3em;
    margin: .3em;
    margin-top: 3.5%;
    color: #4d4d4d;
    width:39%;
}

.btn {
    font-size: 24px;
    background-color: #12B0A8;
    color: white;
    width: 35%;
    padding: .2rem;
    border: 0.5px solid black;
    margin-left: 3%;
}

.btn:hover {
    background-color: #063d3a;
    color: white;
}


select {
    font-size: 20px;
    display: block;
    padding: .4em;
    margin: .3em;
    color: #4d4d4d;
    width: 40%;
}



